<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>wyclef jean</title>
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel='stylesheet' href='stylesheets/spectrum.css' />
	<link rel='stylesheet' href='stylesheets/jquery.nstSlider.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src = "https://maps.googleapis.com/maps/api/js"></script>
  </head>
  <body>
	  <img id='loading' src='images/loading.gif'>
	  <div id = "map-container"></div>
	  <input id="picker" class="jscolor" onchange="update_color(this.jscolor)" value="000000">
		<div id="slider" class="nstSlider" data-range_min="0" data-range_max="100"
						   data-cur_min="10"  data-cur_max="90">

			<div class="highlightPanel"></div>
			<div class="bar"></div>
			<div class="leftGrip"></div>
			<div class="rightGrip"></div>
			<div class="leftLabel" />
			<div class="rightLabel" />
		</div>


  </body>

  <!-- top button -->
  <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/geofire/4.1.2/geofire.min.js"></script>
  <script src="javascripts/config.js"></script>
  <script src="javascripts/data-handler.js"></script>
  <script src='javascripts/jscolor.js'></script> 
  <script src='javascripts/jquery.nstSlider.js'></script> 
  <script src='javascripts/spectrum.js'></script> 
  <script src="javascripts/script.js"></script>
  <script src="javascripts/universal-home.js"></script>
</html>
