<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>wyclef jean</title>
    <link rel="stylesheet" href="stylesheets/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src = "https://maps.googleapis.com/maps/api/js"></script>
  </head>
  <body>
	  <img id='loading' src='images/loading.gif'>
	  <div id = "map-container"></div>
  </body>

<!-- top button -->
<script src="javascripts/universal-home.js"></script>
<script src="javascripts/script.js"></script>
</html>
